body {
	background-image: url("/halo-mcc.jpg");
	height: 100%;
	color: aliceblue;
}


main {
	display: flex;
	position: relative;
	top: 10%;
	margin: 12px;
}
video {
	width: 820px;
	height: 460px;
	border: 1px solid black;
	box-shadow: 4px 4px whitesmoke;
}
div.video {
	display: inline;
}

div#heading {
	position: relative;
	left: 2.5%;
	font-family: sans-serif;
}

#price{
	font-size: 21px;
}

header {
	display: inline;
}

header:hover {
	text-shadow: 2px 1px 1.5px rgb(255, 179, 0);
}

.sale {
	font-size: 28px;
	color: crimson;
	font-weight: bold;
}

#heading {
	padding: 20px;
	height: auto;
	text-align: justify;
	width: 465px;
	display: inline;
	position: relative;
	top: 10%;
	border: 4px solid white;
	border-radius: 8px;
}

#rating {
	height: 90px;
}

#features {
	background-color: black;
	padding: 10px;
	margin-top: 25px;
	width: 1340px;
	position: relative;
	left: 1%;
	border: 4px solid whitesmoke;
	border-radius: 8px;
	overflow: scroll;
}

#comments {
	padding: 10px;
	margin-top: 25px;
	width: 1120px;
	position: relative;
	left:5%;
	border: 4px solid whitesmoke;
	border-radius: 8px;
	overflow: scroll;
}

a:link, a:visited {
	color: coral;
}